<app-uheader></app-uheader>

  <div class="container">
    <div class="jumbotron my-5">
        <h1 class="display-4">Hello, {{ cUser }}</h1>
        <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <button class="btn btn-primary btn-lg" (click)="onNav()">Book List</button>&nbsp;&nbsp;&nbsp;&nbsp;
        <button class="btn btn-success btn-lg" (click)="onNav2()">User Profile</button>
      </div>
  </div>

  <app-ufooter></app-ufooter>